.events-page
{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.events-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/event-calendar-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.events-intro {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 45px;
}

.month {
    color: #9CC07F;
    font-size: 1.5rem;
    font-weight: bold;
}

.event-details {
    max-height: 75%;
    max-width: 75%;
    font-size: .9rem;
}

.event-details li {
    list-style: none;
}