.reservation-page
{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.reservation_button{
    margin-top: 40px;
    background-image: url("../../../assets/background-start-button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 75px;
    background-color: transparent;
    border-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex; /* Utiliza flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
  }
  
  
  .reservation_button:hover {
    transform: scale(1.2); /* Escala el botón 1.5 veces su tamaño original */
  }
  