<div class="prefooter">
  <div class="fixed-image flotante"></div>
  <div class="column">
  </div>
</div>


<div class="footer">
  <div class="inner-footer">
  <div class="column">
    <div class="logowhite"></div>
    <div class="text-footer"> Park Slope’s first board game café.
    </div>
   
    
  </div>
  <div class="column">
    <div><h1>Contact</h1>
      <span class="text-footer">471 5th ave, Brooklyn, New York 11215.</span>
      <br><br>
      <span class="text-footer">Sun - Thurs: 10am to 11pm Fri - Sat: 10am to 12am</span>
        <div class="social-media">
          <a href="https://www.facebook.com/sipnplaynyc/" target="_blank">
            <img height="50px" src="assets/facebook.png" alt="facebook" />
          </a>
          <a href="https://www.instagram.com/sipnplaynyc" target="_blank">
            <img height="50px" src="assets/instagram.png" alt="instagram" />
          </a>
        </div></div>
  </div>
  <div class="column">
    <div class="logoqc "></div>
    <div class="text-footer">Copyright © 2024 Made by Questing Coders - Codédex Hackathon 2024. All Rights Reserved.
    </div>
  </div>
</div>
</div>
