<mat-toolbar class="header flotante">
  <img class="flotante logo" src="assets/sipnplay-logo-header.png" routerLink="/" alt="sipnplay logo" />
  <div class="nav-links">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/events" aria-label="Events">Events</a>
    <a mat-button routerLink="/menu" aria-label="Menu">Menu</a>
    <a mat-button routerLink="/games" aria-label="Board Games">Board Games</a>
    <a mat-button routerLink="/reservations" aria-label="Reservations">Reservations</a>
  </div>
</mat-toolbar>
<div class="fixed-image-header-1 flotante"></div>
<div class="fixed-image-header-2 flotante"></div>
