.header {
  position: fixed;
  top: 6vh;
  display: flex;
  width: 80%;
  max-width: 1600px;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  z-index: 1000;
    background-image: url("../../../assets/menu-header-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border-color: transparent;
    border: none;
    color: white;
}
a {
  cursor: pointer;
}
.header img {
  padding: 16px 25px;
}

.fixed-image-header-1{
  background-image: url('../../../assets/cloud-one.png');
  width: 165px;
  height: auto;
  position: fixed;
  z-index: 80000;
  left: 0;
  top: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1 / 1;
}

.fixed-image-header-2{
  background-image: url('../../../assets/cloud-two.png');
  width: 156px;
  height: auto;
  position: fixed;
  z-index: 80000;
  right: 0px;
  top: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1 / 1;
}

a {
  text-decoration: none; 
}

a:hover {
  text-decoration: none; 
}
