.game-details {
    background-image: url('../../../assets/Board game background map.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    color: #000000;
}

.game-details .game-details-content {
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
    line-height: 32px;
}

.game-details .game-details-description {
    white-space: pre-wrap; /* Ajusta el comportamiento de la descripción */
  }

.game-details .game-details-content .game-details-info-label{
    font-size: 24px;
}

.game-details a {
    color: #92b873;
    cursor: pointer;
}

.game-details-content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    top: 160px;
}

.details-page{
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    max-width: 1400px;
    width: 75%;
}

.game-details-info-item{
    padding-bottom: 10px;
}

.pixelb{
    top: 20px;
    position: relative;
}

@media (max-width: 767.98px) {
    .game-details .game-details-content {
      padding: 10px; /* Ajusta el espaciado interno en dispositivos móviles */
    }

    .details-page{
        width: 90%;
    }

    .game-details-content{
        top: 80px;
    }
  
    .game-details .game-details-info-item {
      padding: 10px 0;
    }
  
    .game-details .pixelb {
      margin-top: 20px; /* Ajusta el margen superior del botón de retroceso en dispositivos móviles */
    }
  }