<div class="container">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div class="horizontal-content">
        <h1>Welcome to Sip &amp; Play</h1>
        <h2>Brooklyn's Premier Board Game Café</h2>
        <p>
          <img src="assets/boardgame-bookshelf.png" alt="board game bookshelf" />
        </p>
        <a href="/reservations"><button class="reservation_button">Make A Reservation</button></a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="homepage-castle"></mat-grid-tile>
  </mat-grid-list>
</div>
