.hometotalcontainer {
  max-width: 1400px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}

.homecontainer {
  background-image: url("../../../assets/laptop-frame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
}

.global-home-head {
  height: 900px;
}

.first-home {
  margin-left: 135px;
}

.homepage-castle {
  background-image: url('../../../assets/homepage-castle.png');
  background-size: contain;
  background-position: center;
  display: flex;
  width: 50% !important;
  background-repeat: no-repeat;
  top: 111px;
  margin-left: -78px;
}

@media screen and (max-width: 1440px) {
  .homecontainer {
    height: 820px;
  }

  .global-home-head {
    height: 700px;
  }

  .homepage-castle {
    top: 69px;
    margin-left: -68px;
  }
  
}

.reservation_button {
  background-image: url("../../../assets/background-start-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 220px;
  height: 75px;
  background-color: transparent;
  border-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation_button:hover {
  transform: scale(1.2);
}

/* Media Queries */
@media (max-width: 1024px) {
  .homecontainer {
    margin-top: 250px; /* Reduce top margin for small screens */
    height: auto;
    background-size: cover;
  }


  .homepage-castle {
    width: 100% !important;
    margin-left: 0;
  }

  .hometotalcontainer{
    height: 650px;
    width: 90%;
  }

  .first-home {
    margin-left: 0;
    padding: 20px;
    text-align: center;
    place-items: center;
  }

  .global-home-head {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-image: unset;
  }
  

  .homepage-castle {
    order: 2;
    display: none;
  }

  .global-home-head {
    order: 1;
    width: 100% !important;
    text-align: center;
    height: 700px;
  }

  .reservation_button {
    width: 180px;
    height: 60px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p img {
    width: 100%;
    height: auto;
  }
}
