<div class="container hometotalcontainer">
  <mat-grid-list cols="2" rowHeight="1:1" class="homecontainer">
    <mat-grid-tile class="global-home-head">
      <div class="horizontal-content first-home">
        <h1>Welcome to Sip &amp; Play</h1>
        <h2>Brooklyn's Premier Board Game Café</h2>
        <p>
          <img class="flotante" src="assets/boardgame-bookshelf.png" alt="board game bookshelf" />
        </p>
        <a href="/reservations"><button class="reservation_button">Make A Reservation</button></a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="homepage-castle"></mat-grid-tile>
  </mat-grid-list>
</div>
