.homepage-castle {
  background-image: url('../../../assets/homepage-castle.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  max-height: 100px;
  // justify-content: center;
  // align-items: center;
}