.games-table a {
    color: #92b873;
    cursor: pointer;
}

.games-page{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

.games-table{
    margin-top: 60px;
}