.games-page{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.games-table{
    margin-top: 30px;
}

.games-table a {
    color: #92b873;
    cursor: pointer;
}

